<div class="jumbotron text-center">
    <h1>E-BYE</h1>
    
    <p class="lead">Plataforma de administración de la tienda en línea.</p>
</div>
<div class="row">
    
    <div class="col-md-8 text-center">
        <h2>Instituto Tecnológico de Culiacán</h2>
        <h2>Negocios Electrónicos II</h2>

        <h4>Jorge Moya</h4>
        <h4>Proyecto final</h4>
        <h3>05/Junio/2017</h3>
    </div>
    <div class="col-md-4 text-center">
        <h2>Integrantes</h2>
        <h4>Espinoza Nuñez Yeratzi Yamileth</h4>
        <h4>Medina Contreras Pedro</h4>
        <h4>Pulido Laveaga Jose Luis</h4>
        <h4>Zavala López Rafael</h4>
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>-->
</div>
